.root {
  .tooltipHeader {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
  }
}

.image {
  border-radius: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
