@import "./global.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 150px;
  width: 660px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.image {
  width: 75px;
  height: 75px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.text {

}
