@import "./global.scss";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: $contentWidth;
  margin: 0 auto;

  .brand_name {
    font-size: 2.9rem;
    font-weight: 800;
    display: inline;
    margin: 0;
  }

  .brand_name_link {
    color: rgba(0, 0, 0, 0.4);
    //line-height: 100px;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .item {
    margin-left: 10px;
  }

  #nameItem {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 22px!important;
    padding-bottom: 22px!important;
    color: #fefefe;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
      cursor: default!important;
    }
  }

  .menuDropdown {
    position: relative;
    top: 1px;
    margin-right: 7px!important;
  }

  .loggedOutView {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .createGroupLink {
    &:hover {
      background-color: #fff!important;
    }
  }

  #dropdownMenu {
    width: 200px!important;
    z-index: 999999;

    &::after {
      display: none;
    
    }
  }
}

