@import "./global.scss";

.root {
  .table{
    width: 100%;
    table-layout: fixed;
  }
  .name{
    width: 40%;
  }
  .number{
    width: 40%;
  }
  .standardBlockConfig{
    width:10%;
  }

  .standardSessionConfig{
    width: 20%;
  }
}
