@import "./global.scss";

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  width: $contentWidth;
  margin: 0 auto;

  .head:after {
    content: "";
    display: table;
    clear: both;
  }

  .form {
    width: 500px;
  }

  .timeSegment {
    width: 200px;
    height: 200px;
  }
  .timeLabel {
    size: 'medium';

  }





}
