@import "./global.scss";

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  width: $contentWidth;
  margin: 0 auto;

  .head:after {
    content: "";
    display: table;
    clear: both;
  }

  .ranking{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 20px;
    justify-content: center;
  }

  .form {
    width: 500px;
  }

  .currentKPIsContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .currentTime {
    margin-bottom: 10px;
    margin-right: 10px;

    .clock{
      height: 50px;
      width: 120px;
      //background-color: #BBDEFB;
      text-align: center;
      color: grey;

      .clockSpan{
        margin-left: 2px;
      }
    }
  }

  .chargeStatus {
    margin-bottom: 10px;

    .charge{
      height: 50px;
      width: 120px;
      //background-color: #BBDEFB;
      text-align: center;
      color: grey;

      .chargeSpan{
        margin-left: 5px;
      }
    }
  }

  .heading{
    color: grey;
    text-align: center;
    margin-top: 20px;

  }

  .objectivesContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 42px;
    margin-bottom: 32px;
  }

  .timeSegment {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 170px;
    margin-right: 48px;
    background-color: #BCE7D1;
  }

  .chargingLevelSegment {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 170px;
    background-color: #BCE7D1;
  }

  .buttonGroup {
    margin-bottom: 10px;
  }

  .confirmationButton {
    margin-bottom: 10px;
  }

  .spanKM{
    margin-left: 5px;
  }

  .sliderContainer{
    margin-bottom: 24px;


  }

  .timeTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  .chargingLabel{
      text-align: center;

  }
}
.slider div{

  margin-bottom: 10px !important;
}
