.container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 50px;

  .form {
    width: 400px;

    .dummyInput {
      display: none;
    }

    .nameField {
      display: flex;
      margin-bottom: 10px;
      flex-direction: row;
    }

    .authorField, .dropDown, .readingStatus, .textFields, .ratingContainer {
      margin-bottom: 10px;
    }

    .readingStatus, .textFields {
      width: 100%;
    }

    .ratingContainer > span {
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      vertical-align: top;
    }
  }
}
